* {
    box-sizing: border-box;
}
body {
    background-image: url(../img/background-img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    margin: 0;
    color: #fff;
    font-weight: 400;
    overflow: hidden;
   
}

a {
    text-decoration: none;
}

button {
    text-decoration: none;
    border: none;
    padding: 0;
    outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1260px;
    margin: 0 auto;
    padding: 0px 30px;
    overflow: hidden;
}

.header {
    padding: 1em 0px;
}

/* .header__inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
} */
.header__inner{
    justify-content: flex-end;
}

.header__logo {
    width: 70px;
    height: 70px;
}

.logo {
    width: 100%;
    border-radius: 100%;
    background-color: #fff;

}

.header__info {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 0.83em;
}

.header__phone {
    margin-left: 1.38em;
    color: #fff;
    font-weight: 600;
}

.quiz{
    padding-top: 3.77em;
    display: flex;
}
.quiz__slide{
    width: 100%;
    position: absolute;
    left: 100%;
    opacity: 0;
    transition: opacity 0.3s ease, all 0.7s ease;
}
.quiz_opened-page{
    width: 100%;
    position: relative;
    left: 0;
    opacity: 1;
}
.quiz_passed-page{
    position: absolute;
    left: -100%;
    opacity: 0;
}
.title {
    font-size: 1.94em;
}

.subtitle {
    padding-top: 1em;
}

.btn-white {
    font-size: 1em;
    font-weight: 400;
    text-align: center;
    padding: 0.44em 1.44em;
    background-color: #fff;
    border-radius: 2.13em;
    cursor: pointer;
}

.btn-main {
    margin-top: 2.36em;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    font-size: 0.7em;
    font-weight: 400;
    background-color: rgba(0, 0, 0, 0.5);
}

.footer__info {
    margin-top: 1em;
}

.container-slider {
    margin-top: 3em;
    margin-bottom: 1.77em;
    position: relative;
    width: 100%;
    height: 1em;
}

input[type="range"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    outline: none;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    background-color: transparent;
    pointer-events: none;
}

.slider-track {
    width: 100%;
    height: 6px;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    border-radius: 2px;
}

input[type="range"]::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    height: 5px;
}

input[type="range"]::-moz-range-track {
    -moz-appearance: none;
    height: 5px;
}

input[type="range"]::-ms-track {
    appearance: none;
    height: 5px;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 2em;
    width: 4em;
    background-color: #FF9900;
    cursor: pointer;
    margin-top: -11px;
    pointer-events: auto;
    border-radius: 20%;
}

input[type="range"]::-moz-range-thumb {
    -webkit-appearance: none;
    height: 1.7em;
    width: 1.7em;
    cursor: pointer;
    border-radius: 50%;
    background-color: #FF9900;
    pointer-events: auto;
}

input[type="range"]::-ms-thumb {
    appearance: none;
    height: 1.7em;
    width: 1.7em;
    cursor: pointer;
    border-radius: 50%;
    background-color: #FF9900;
    pointer-events: auto;
}

input[type="range"]:active::-webkit-slider-thumb {
    background-color: #ffffff;
    border: 5px solid #FF9900;
}

.values {
    display: flex;
    justify-content: space-between;
    background-color: #FF9900;
    max-width: 10em;
    padding: 0.4em 1em;
    border-radius: 0.5em;
    font-size: 0.83em;
}

.btn-budget {
    display: flex;
    justify-content: end;
    margin-top: 1.88em;
}

.quiz-buttons {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2.5em;
}

.btn-choice {
    max-width: 10em;
    font-size: 0.83em;
    padding: 0.55em 1.25em;
    border-radius: 0.66em;
    cursor: pointer;
    color: #fff;
    font-weight: 600;
    background-color: #FF9900;
    margin-right: 1.66em;
    border: 0;
}

.btn-choice:last-child {
    margin-right: 0;
}

.btn-pay-method {
    min-width: 12em;
}

.btn-period {
    min-width: 7.11em;
}

.contact-form {
    margin-top: 1.77em;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.form__field {
    font-size: 0.83em;
    font-weight: 400;
    padding: 0.44em 1.44em;
    background-color: #fff;
    border-radius: 2.13em;
    border: 0;
    outline: none;
    resize: none;
    margin-right: 1.11em;
}

.form__field::placeholder {
    color: rgba(0, 0, 0, 0.4);
}

input[type="text"]:focus,
input[type="tel"]:focus {
    background-color: rgb(249, 249, 249);
    color: #000;
}

.flats{
    display: flex;
    justify-content: flex-end;
    margin-top: 2.22em;
    margin-right: 10%;
}
.flats__count{
    color: #FF9900;
    font-weight: 600;
    font-size: 1.94em;
}
.btn-choice__form{
    resize: none;
}


/* media */

@media screen and (max-width: 1075px) {
    .form__field{
        margin-bottom: 1em;
    }
}

@media screen and (max-width: 885px) {
    .contact-form{
        flex-direction: column;
        align-items: start;
    }
    .form__field{
        margin-bottom: 1.5em;
    }
}

@media screen and (max-width: 710px) {
    .quiz-buttons{
        flex-direction: column;
    }
    .btn-choice{
        margin-bottom: 1.4em;
    }
}

@media screen and (max-width: 614px) {
    body{
        font-size: 24px;
    }
    input[type="range"]::-webkit-slider-thumb {
        height: 1.5em;
        width: 3em;
        margin-top: -7px;
    }
}
@media screen and (max-width: 505px){
    body{
        font-size: 20px;
    }
    .container{
        padding: 0px 16px;
    }
}
@media screen and (max-width: 430px){
    body{
        font-size: 16px;
    }
    input[type="range"]::-webkit-slider-thumb {
        height: 1em;
        width: 2em;
        margin-top: -4px;
    }
}
@media screen and (max-width: 330px){
    body{
        font-size: 14px;
    }
    .container{
        padding: 0px 10px;
    }
}