body{
    background: 0;
    color: #000;
    font-size: 18px;
    line-height: 1.5;
}
.container {
    max-width: 1260px;
    margin: 0 auto;
    padding: 0px 30px;
}
@media screen and (max-width: 505px){
    .container{
        padding: 0px 16px;
    }
}